<div>
  <h1>SQL Injection</h1>
  <form action="sql_injection" method="post">
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" name="data" placeholder="ENV">
      </div>
      <div class="control">
        <button class="button is-info" action="submit">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>