.bundle/
log/*.log
pkg/
spec/dummy/node_modules/
spec/dummy/yarn.lock
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/db/*.sqlite3-*
spec/dummy/log/*.log
spec/dummy/storage/
spec/dummy/coverage/
spec/dummy/tmp/
spec/dummy/config/contrast/.telemetry
coverage
tmp/
agent/
/.idea
**/contrast_security.yaml
**/contrast_security.yml
**/*.log
.DS_STORE
**/contrast-agent.gem
vendor
run-data
test-results
