<div>
  <h1>Unsafe File Upload</h1>
  <form action="unsafe_file_upload" method="POST" enctype="multipart/form-data">
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="file" name="data" placeholder="">
      </div>
      <div class="control">
        <button class="button is-info" action="submit">
          Upload File
        </button>
      </div>
    </div>
  </form>
</div>